body {
    margin: 0;
    font-size: 1.3rem;
    font-weight:normal;
    background-color:#222831;
    color:white;
    text-align:center;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #222831;
}
.top-container h1 {
    font-family:'handlee', cursive;
    font-size: 3.625rem;
    color:white;
    margin-top: 10rem;
    margin-bottom: 0;
    padding-left: 2.3rem;
}
.branch {
    margin-left:6rem;
}
.top-container p {
    width: 80%;
}
.top-container img {
 margin-left:1rem;
}
.mid-container {
    color:black;
    background-color:#EEEEEE;
    text-align: center;

}
.code {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp {
    height: 20rem;
    margin-top: 0;
}
.he{
    text-align: center;
    font-weight: bold;
    color:#00ADB5;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.about {
 width: 28%;
 margin: auto;

}
 hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 90px auto;
 }
 
 .coder {
    height: 7rem;
 }
 .skills {
    margin-bottom: 1rem;
 }
 .skill-image {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-left:5rem;
 }
 .hobbies {
    margin-bottom: 1.5rem;
 }
 .dev {
    margin-top: 0.3rem;
    margin-bottom: 0;
 }
 .hobby {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-left:8rem;
 }
 .message {
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.project {
    margin-bottom: 3rem;
}
.btn {
    border-radius: 1rem;
    background-color: #393E46;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}
.footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    font-size: 1rem;
    margin-top: 3rem;
    background-color:#222831;
    margin-bottom: 2rem;
}
.footer-tag {
    text-decoration:none;
    color:#EEEEEE;
}






